h1,h2,h3,h4,h5{
    font-size: 1.8vmax;
}

.arrow-color{
    color: black;
    box-shadow: azure;
}


.card-text, .card-title{
    color: whitesmoke !important;
    opacity: 1 !important;
}

@media screen and (min-width: 916px) {
    .card .card-body .card-text {
        font-size: 1.6rem;
        font-weight: 400;
    }

    .card-title{
        font-size: 1.9rem;
    }

    .card-body{
        height: 50rem;
    }

    #asthma-emergency{
        margin-top: 45%;
    }
 }

 @media screen and (max-width: 915px) and (min-width: 767){
    .card .card-body .card-text {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .card-title{
        font-size: 1.3rem;
    }

    .card-body{
        height: 20rem;
    }

    #asthma-emergency{
        margin-top: 45%;
    }
 }

 @media screen and (min-width: 560px) and (max-width: 766px) {
    .card .card-body .card-text {
        font-size: 1.1rem;
        font-weight: 400;
    }
    .card-title{
        font-size: 1.2rem;
    }
    #asthma-emergency{
        margin-top: 20%;
    }
 }

 @media screen and (max-width: 559px) {
    .card .card-body .card-text {
        font-size: 0.9rem;
        font-weight: 400;
    }
    .card-title{
        font-size: 1rem;
    }
 }