<div class="section-parallax" style=" background-image: url(&quot;assets/mountainview.jpg&quot;); padding-top: 6%;" id="education">
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="50000">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
      <li data-target="#carouselIndicators" data-slide-to="3"></li>
      <li data-target="#carouselIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid section-dark">
          <div class="row centered">
            <!-- Text part -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">What is Asthma</h1>
                  <h3 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">Asthma is a disease of the airways – which are the breathing tubes that carry air into our lungs. Sometimes
                    it is harder for a person with asthma to breathe in and out, but at other times their breathing is normal.
                    It is important to understand that asthma is a long-term (chronic) disease. and although there is currently
                    no cure, with the right knowledge and good management, most people with asthma can lead full and active
                    lives.
                  </h3>
                </div>
              </div>
            </div>
            <!-- Image part -->
            <div class="col-md-6">
              <img class="img-fluid" style="height: auto;" src="../assets/lung.jpg" alt="lung image">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid section-dark">
          <div class="row">
            <!-- Text part -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">Asthma Action Plan</h1>
                  <h4 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">A written asthma action plan is a set of instructions that helps you recognise worsening asthma and tells
                    you what to do in response. Different action plans suit different people, but all plans should have the
                    same key information. It is personalised for according to your own asthma pattern. (National Asthma Council
                    Australia). You must have these following information as part of your action plan.
                  </h4>
                  <br>
                  <ul style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">
                    <li>
                      <h4 class="card-text">Have a list of your usual medication including the doses.</h4>
                    </li>
                    <li>
                      <h4 class="card-text">An instruction as to what needs to be done when the attack is getting worse. Can include the extra
                        doses that can be given.</h4>
                    </li>
                    <li>
                      <h4 class="card-text">Name and contact information of Doctor or other professionals you generally seek for help/ prepared
                        this plan for you.</h4>
                    </li>
                    <li>
                      <h4 class="card-text">Date</h4>
                    </li>
                  </ul>
                  <br>
                  <h4 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">
                    <b>ALWAYS CARRY YOUR ACTION PLAN. IT CAN BE IN A Z -cardFORMAT THAT CAN BE EAISLY PUSHED INTO YOUR WALLET.</b>
                  </h4>
                  <br>
                  <h5 class="text-center">
                    <a href="https://www.nationalasthma.org.au/living-with-asthma/asthma-action-plans/asthma-action-plan-examples">Examples of Asthma Action Plan</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid section-dark">
          <div class="row">
            <!-- Text part -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">Common Asthma Triggers</h1>
                  <ul>
                    <li>
                      <h4 class="card-text" style="text-align: left; margin-left: 1.5em; margin-right: 1.5em;">Colds, flu and other respiratory infections</h4>
                    </li>
                    <li>
                      <h4 class="card-text" style="text-align: left;; margin-left: 1.5em; margin-right: 1.5em;">Cigarette smoke</h4>
                    </li>
                    <li>
                      <h4 class="card-text" style="text-align: left; margin-left: 1.5em; margin-right: 1.5em;">Allergy related triggers e.g., House dust mites, pollen, pets</h4>
                    </li>
                    <li>
                      <h4 class="card-text" style="text-align: left; margin-left: 1.5em; margin-right: 1.5em;">Exercise</h4>
                    </li>
                    <li>
                      <h4 class="card-text" style="text-align: left; margin-left: 1.5em; margin-right: 1.5em;">Weather e.g., Cold air, change in temperature, thunderstorm</h4>
                    </li>
                    <li>
                      <h4 class="card-text" style="text-align: left; margin-left: 1.5em; margin-right: 1.5em;">Bush fire smoke</h4>
                    </li>
                    <li>
                      <h4 class="card-text" style="text-align: left; margin-left: 1.5em; margin-right: 1.5em;">Certain Perfumes</h4>
                    </li>
                  </ul>
                  <h5 class="text-center">
                    <a href="https://www.nationalasthma.org.au/understanding-asthma/what-are-asthma-triggers">
                      – More information on Asthma Triggers
                    </a>
                  </h5>

                </div>
              </div>
            </div>
            <!-- Image part -->
            <div class="col-md-6">
              <img class="img-fluid mx-auto d-block" style="width: 50rem;" src="../assets/triggers.png" alt="lung image">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid section-dark">
          <div class="row">
            <!-- Text part -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">Asthma Medication Knowledge</h1>
                  <h4 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">“The two main types of asthma medicines are relievers and preventers. These are usually in inhalers or
                    puffers. There is also a preventer which is a tablet, used by some people. Some other medicines (e.g.
                    prednisone tablets) are only used for severe asthma flare-ups. There are many different medicines and
                    brands for asthma in Australia.</h4>
                  <br>
                  <h4 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">Whilst preventing and treating asthma there are certain side-effects.The most common side-effects of inhaled
                    corticosteroid medicines are hoarseness of the voice and fungal throat infections. The risk can be reduced
                    by taking the medicine using a spacer (a specially designed plastic container that attaches to the puffer),
                    and by rinsing the mouth with water after using the puffer.
                  </h4>
                  <br>
                  <h4 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">Most asthma patients need to take a low dose of regular preventer treatment every day. Your doctor may
                    adjust your treatment up and down if necessary at each check-up. Other medicines may be added. High doses
                    are sometimes needed for a few weeks or months, but people who need high doses for longer may need to
                    see a specialist. Before increasing your dose or changing the medicine, your doctor will check that you
                    are taking the medicine correctly and make sure your symptoms are not caused by any other condition.”
                    (National Asthma Council Australia)
                  </h4>

                  <h4 class="text-center">
                    <a href="https://www.nationalasthma.org.au/understanding-asthma/treatment-and-medicines">
                      – More information
                    </a>
                  </h4>
                </div>
              </div>
            </div>
            <!-- Image part -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid section-dark">
          <div class="row">
            <!-- Text part -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;"></h1>
                  <h1 id="asthma-emergency" class="card-text text-center" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">
                    If unsure, what you should do ? Call (000) say "Asthma Emergency"
                  </h1>
                </div>
              </div>
            </div>
            <!-- Image part -->
            <div class="col-md-6">
              <img class="img-fluid mx-auto d-block thumbnail" src="../assets/Adult-First-Aid-Asthma-Chart.jpg" alt="lung image">
            </div>

          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
