<div class="py-5 section-parallax" style=" background-image: url(&quot;assets/conference/schedule.jpg&quot;);" id="education">
  
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid section-aquamarine">
                <div class="row centered">
                  <!-- Text part -->
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">What is Asthma</h1>
                              <h3 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">Asthma is a disease of the airways – which are the breathing tubes that carry air into our lungs. Sometimes it is harder for a person with asthma to breathe in and out, but at other times their breathing is normal. It is important to understand that asthma is a long-term (chronic) disease. and although there is currently no cure, with the right knowledge and good management, most people with asthma can lead full and active lives.</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Image part -->
                  <div class="col-md-6">
                    <img class="img-fluid" style="width: auto;" src="../assets/lung.jpg" alt="lung image">
                  </div>
            
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid section-aquamarine">
                <div class="row">
                  <!-- Text part -->
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">What is Asthma</h1>
                              <h3 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">Asthma is a disease of the airways – which are the breathing tubes that carry air into our lungs. Sometimes it is harder for a person with asthma to breathe in and out, but at other times their breathing is normal. It is important to understand that asthma is a long-term (chronic) disease. and although there is currently no cure, with the right knowledge and good management, most people with asthma can lead full and active lives.</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Image part -->
                  <div class="col-md-6">
                    <img class="img-fluid" style="width: auto;" src="../assets/lung.jpg" alt="lung image">
                  </div>
            
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid section-aquamarine">
                <div class="row">
                  <!-- Text part -->
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="text-align: center; margin-top: 2.8em; margin-bottom: 1em;">What is Asthma</h1>
                              <h3 class="card-text" style="text-align: justify; margin-left: 1.5em; margin-right: 1.5em;">Asthma is a disease of the airways – which are the breathing tubes that carry air into our lungs. Sometimes it is harder for a person with asthma to breathe in and out, but at other times their breathing is normal. It is important to understand that asthma is a long-term (chronic) disease. and although there is currently no cure, with the right knowledge and good management, most people with asthma can lead full and active lives.</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Image part -->
                  <div class="col-md-6">
                    <img class="img-fluid" style="width: auto;" src="../assets/lung.jpg" alt="lung image">
                  </div>
            
                </div>
              </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>