<div class="py-5 bg-light" id="speakers" style="background-image: url('assets/conference/venue.jpg');" >
  <div class="container-fluid" style="margin-top: 6.5rem; margin-bottom: 8rem;">
    <div class="row">
      <div class="col-md-12" align="center">
        <h1 class="text-white team-title"><b>KiT Team Members</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3">
          <img src="assets/about-us/Andy.jpg" class="img-fluid rounded-circle" width="500">
          <h2 class="text-white" align="center">
            <b>Andy Yan</b>
          </h2>
          <h3 align="center" class="text-white">Developer</h3>
      </div>
      <div class="col-6 col-lg-3">
          <img src="assets/about-us/JIalin.jpg" class="img-fluid rounded-circle" width="500">
          <h2 align="center" class="text-white">
            <b>Jialin Yang</b>
          </h2>
          <h3 align="center" class="text-white">Developer</h3>
      </div>
      <div class="col-6 col-lg-3">
          <img src="assets/about-us/Shikha.jpg" class="img-fluid rounded-circle" width="500">
          <h2 align="center" class="text-white">
            <b>Shikha Patel</b>
          </h2>
          <h3 align="center" class="text-white">Business Analyst</h3>
      </div>
      <div class="col-6 col-lg-3">
          <img src="assets/about-us/Hoang.jpg" class="img-fluid rounded-circle" width="500">
          <h2 align="center" class="text-white">
            <b>Hoang Vu</b>
          </h2>
          <h3 align="center" class="text-white">Data Scientist</h3>
      </div>
    </div>
  </div>
</div>
