
.journal-section-container{
    padding-top:150px;
    min-height: 1000px;
}

.journal-title{
    text-align:center;
}

.align-right{
    float:right;
}
.journal-button-size{
    width:150px;
    height:50px;
}




.journal-container{
    margin:auto;
    width:40%;
}
.journal-container2{
    margin: auto;
    width: 80%;
}

.content-bg{
    width:100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#add-journal-btn{
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 8rem;
    filter: invert(100%);
    mix-blend-mode: difference;
    z-index: 10;
}