<!--     <a *ngIf="loginedUser" id="add-journal-btn">
      <img class="img-fluid" src="../../assets/add journal.png">
    </a> -->
  <div class="journal-section-container content-bg bg-light" id="journals">
    <div class="row">
      <div class="col-md-12 journal-title">
        <h2>My Journal</h2>
      </div>
    </div>
    <div class="row">
  <div class="container">
          <div align="center">
            <p>This section is for recording the real-time weather conditon of your uncomfortable moments by just one click. <br/>
              Currently, we allow the user to browse the list of journal records, which could also be used to refer to doctor. <br/>
              More functionalities of related analysis shall be provided under further development.</p>
          </div>
        <button class="btn btn-success journal-button-size add-button" (click)="onAddJournal()"  type="submit" >Add Journal</button>
        <button class="btn btn-success align-right journal-button-size get-button"  (click)="onGetJournal()">Get Journal</button>
      </div>
    </div>
    <div class="row journal-container2" *ngIf="getJournal">
        <table>
          <tr>
            <th>Date</th>
            <th>Asthma Risk Level</th>
            <th>Weather Condition</th>
            <th>Humidity(%)</th>
            <th>Pressure(hPa)</th>
            <th>Temperature(℃)</th>
            <th>Wind Direction</th>
            <th>Wind Speed(km/h)</th>
          </tr>
          <tr *ngFor="let server of servers">
            <td>{{ server.date }}</td>
            <td>{{ server.risk }}</td>
            <td>{{ server.condition }}</td>
            <td>{{ server.humidity }}</td>
            <td>{{ server.pressure }}</td>
            <td>{{ server.temperature }}</td>
            <td>{{ server.windDirection }}</td>
            <td>{{ server.windSpeed }}</td>
          </tr>
          
          
        </table>
    </div>
    <!-- <div class="row" *ngIf="showJournal">
      <div class="journal-container" id="addJournalPage">
        <div class="journal-content-container">
          <form action="" method="">
            <div class="datecontainer">
              <p class="content-title">Choose the date: </p>
              <input type="text"
              placeholder="MM/DD/YYYY"
              class="form-control"
              bsDatepicker>
            </div><br><br><br>
            <div class="paincontainer">
              <p class="content-title">How was the rate of your pain today?</p>
                <input type="radio" name="rateofpain" value="No Pain">No Pain<br>
                <input type="radio" name="rateofpain" value="Mild Pain">Mild Pain<br>
                <input type="radio" name="rateofpain" value="Moderate Pain">Moderate Pain<br>
                <input type="radio" name="rateofpain" value="Severe Pain">Severe Pain<br>
            </div><br><br><br>
            <div class="moodcontainer">
              <p class="content-title">How was your mood today?</p>
              <input type="radio" name="mood" value="Bad">Bad<br>
              <input type="radio" name="mood" value="Okay">Okay<br>
              <input type="radio" name="mood" value="Good">Good<br>
            </div><br><br><br>
            <div class="symptomscontainer">
              <p class="content-title">What is your symptoms?</p>
              <input type="radio" name="symptoms" value="Chest Tightness">Chest Tightness<br>
              <input type="radio" name="symptoms" value="Coughing">Coughing<br>
              <input type="radio" name="symptoms" value="Nasal Congestion">Nasal Congestion<br>
              <input type="radio" name="symptoms" value="Phlegam Production">Phlegam Productio<br>
              <input type="radio" name="symptoms" value="Shortness of Breath">Shortness of Breath<br>
              <input type="radio" name="symptoms" value="Wheezing">Wheezing<br>
            </div><br><br><br>       
            <div class="activitycontainer">
              <p class="content-title">How much activity did you have today?</p>
              <input type="radio" name="activity" value="Nil">Nil<br>
              <input type="radio" name="activity" value="Slight">Slight<br>
              <input type="radio" name="activity" value="Medium">Medium<br>
              <input type="radio" name="activity" value="Intense">Intense<br>
              <input type="radio" name="activity" value="Crazy">Crazy<br>
            </div><br><br><br>
            <div class="dietcontainer">
              <p class="content-title">How was your diet today?</p>
              <input type="radio" name="diet" value="Balanced">Balanced<br>
              <input type="radio" name="diet" value="High-Protein">High-Protei<br>
              <input type="radio" name="diet" value="Low-Calorie">Low-Calorie<br>
              <input type="radio" name="diet" value="Low-Carbohydrate">Low-Carbohydrate <br>
              <input type="radio" name="diet" value="Low Fat">Low Fat<br>
            </div><br><br><br>
            <div class="submitJournalList">
              <input class="btn btn-primary" id="submitButton" type="submit" name="submit" value="Submit">
            </div>
        
          </form>
        </div>
      </div>
    </div> -->
