.demo-tab-group {
    /* border: 1px solid #e8e8e8; */
    background-color: rgba(17, 18, 19, 0.85);
  }
  
  .demo-tab-content {
    padding: 16px;
  }

  @media screen and (min-width: 1300px) {
    .pollen-padding{
      padding-top: 6%; 
      padding-bottom: 8%;
    }
  }

  @media screen and (max-width: 1300px){
    .pollen-padding{
      padding-top: 15%;
      padding-bottom: 8%;
    }
  }