 <!-- Navbar -->
<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-toggler-right" type="button" 
      data-toggle="collapse" 
      data-target="#navbar2SupportedContent" 
      aria-controls="navbar2SupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar2SupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#speakers">Pollen</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#schedule">Education</a>
          </li>
        </ul>
        <a class="btn navbar-btn mx-2 text-white btn-outline-light pull-right">Login</a>
        <a class="btn navbar-btn mx-2 text-white btn-outline-light pull-right">Register now</a>
      </div>
    </div>
  </nav>

  <!-- Dashboard -->
  <app-dashboard></app-dashboard>

  <!-- Parallax section -->
  <div class="py-5 section-parallax" style="background-image: url('assets/conference/venue.jpg');">
    <div class="container my-5 bg-light p-4">
      <div class="row mx-auto">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
  <!-- Speakers -->
  <div class="py-5 bg-light" id="speakers">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Speakers</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-4 animate-in-left"></div>
        <div class="col-6 col-lg-4"></div>
        <div class="col-6 col-lg-4 animate-in-right"></div>
        <div class="col-6 col-lg-4 animate-in-left"></div>
        <div class="col-6 col-lg-4"></div>
        <div class="col-6 mask col-lg-4 animate-in-right">
          <a href="#">
            <img src="assets/conference/people_6.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0">
              <b>Mary Potter</b>
            </h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;assets/conference/schedule.jpg&quot;);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 1</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;
                <b>Welcome</b>
              </li>
              <li class="list-group-item">
                <i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;
                <b>Bootstrap</b>
              </li>
              <li class="list-group-item">
                <i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;
                <b>Q&amp;A</b>
              </li>
              <li class="list-group-item bg-info">
                <i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;
                <b>Lunch</b>
              </li>
              <li class="list-group-item">
                <i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;
                <b>Besties</b>
              </li>
              <li class="list-group-item">
                <i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;
                <b>Workshop</b>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-6"></div>
        <div class="p-4 col-lg-4"></div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <!-- Call to action -->
  <div class="py-5 section-aquamarine" id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-md-left text-center">
          <h1 class="text-white">Registrations are open</h1>
          <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp;
            <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.</p>
        </div>
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="#" class="btn btn-lg btn-light my-3">Register now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <!-- JavaScript dependencies -->