<!-- Navbar -->
<!-- navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false" -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-dark intro-fixed-nav" [containerInside]="false">
  <logo>
    <a class="navbar-brand" routerLink="/dashboard" align="right">
      <img src="../assets/favicon-96x96.png
        " height="30" class="d-inline-block align-top" alt=""> Aspronto
      <br>
      <sup>Your Asthma Pal</sup>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard" class="nav-link waves-light" active mdbWavesEffect>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/education" class="nav-link waves-light" mdbWavesEffect>Asthma Knowledge</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/pollen" class="nav-link waves-light" mdbWavesEffect>Pollen Facts</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/journal" class="nav-link waves-light" mdbWavesEffect *ngIf="loginedUser">Journal</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us" class="nav-link waves-light" mdbWavesEffect>About Us</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto">
      <!-- class="nav-link waves-light pull-right" -->
      <li class="nav-item">
        <p class="nav-link waves-light text-white" *ngIf="showLogoutButton">Welcome, {{ currentUser }}</p>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="showLogoutButton" (click)="onLogout()" mdbWavesEffect>Logout</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link waves-light" data-toggle="modal" data-target="#loginModal" *ngIf="userLogin" data-whatever="@mdo" mdbWavesEffect>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" data-toggle="modal" data-target="#registerModal" *ngIf="userLogin" data-whatever="@mdo" mdbWavesEffect>Register</a>
      </li>
    </ul>
    <!-- class="nav-link waves-light pull-right" -->
    <!-- <p class="text-white pull-right mx-2 welcome-text" *ngIf="showLogoutButton">Welcome, {{ currentUser }}</p>
    <a class="nav-link waves-light pull-right" *ngIf="showLogoutButton" (click)="onLogout()" mdbWavesEffect>Logout</a> -->

    <!-- <a class="nav-link waves-light pull-right" data-toggle="modal" data-target="#loginModal" *ngIf="userLogin" data-whatever="@mdo"
        mdbWavesEffect>Login</a>
      <a class="nav-link waves-light pull-right" data-toggle="modal" data-target="#registerModal" *ngIf="userLogin" data-whatever="@mdo"
        mdbWavesEffect>Register</a> -->
  </links>
</mdb-navbar>

<!-- Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <div>
            <h3 style="padding-bottom: 3%;">Login</h3>
          </div>
          <div>
            <form (ngSubmit)="onLogin(t)" #t="ngForm">
              <div class="form-group">
                <label for="email1">Email address</label>
                <input class="form-control" id="loginInputEmail1" name="email" ngModel type="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="loginInputPassword1" name="password" ngModel type="password" placeholder="Password">
              </div>
              <br>
              <button class="btn btn-primary btn-block" type="submit" [disabled]="!t.valid" (click)="onLogin(t)" data-dismiss="modal">
                Login</button>
              <p *ngIf="signinError">{{ signinError.message}}</p>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">
          Register an Account</button>
      </div>
    </div>
  </div>
</div>
<!-- Registration -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="register">
          <div>
            <h3 style="padding-bottom: 3%;">Register an Account</h3>
          </div>
          <div>
            <form (ngSubmit)="onRegister(f)" #f="ngForm">

              <div class="form-group">
                <label for="email1">Email address</label>
                <input class="form-control" id="registerInputEmail1" name="email" ngModel #emailAddress="ngModel" type="email" aria-describedby="emailHelp"
                  placeholder="Enter email">

              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="registerInputPassword1" name="password" ngModel type="password" placeholder="Password">
              </div>
              <br>
              <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.form.valid" (click)="onRegister(f)" data-dismiss="modal"
                data-toggle="modal" data-target="loginModal">
                Register</button>
              <p *ngIf="signupError">{{ signupError.message}}</p>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">

      </div>
    </div>
  </div>
</div>

<!-- for routing test purpose -->
<router-outlet></router-outlet>

<div *ngIf="userLogin" class="py-5 section-aquamarine">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-md-left text-center">
        <h2 class="text-white">Register as aspronto user to log your uncomfortable moments.</h2>
        <p>We shall keep record of the weather data. Detailed analysis will be provided after further development.</p>
      </div>
      <div class="col-md-4 align-self-center animate-in-right" align="center">
        <a href="#" class="btn btn-lg btn-dark my-3" data-toggle="modal" data-target="#registerModal">Register now</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="bg-dark footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" align="center">
        <p class="text-muted">© 2018 Copyright: aspronto-pal.ml All Rights Reserved. The estimated asthma risk level might not be accurate.</p>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript dependencies -->
