 <!-- Navbar -->
 <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-toggler-right" type="button" 
    data-toggle="collapse" 
    data-target="#navbar2SupportedContent" 
    aria-controls="navbar2SupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar2SupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#speakers">Pollen</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#schedule">Education</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#journals">Journal</a>
        </li>
      </ul>
      <a class="btn navbar-btn mx-2 text-white btn-outline-light pull-right" href="#login">Login</a>
      <a class="btn navbar-btn mx-2 text-white btn-outline-light pull-right" href="#register">Register now</a>
      <!-- <a 
        class="btn navbar-btn mx-2 text-white btn-outline-light pull-right" 
        data-toggle="modal" 
        data-target="#loginModal" 
        data-whatever="@mdo">Nodal Button
    </a> -->
    </div>
  </div>
</nav>

<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-login></app-login>
      </div>
      <div class="modal-footer text-center">
              <button 
                class="btn btn-link" 
                data-dismiss="modal"
                data-toggle="modal" 
                data-target="#registerModal" 
                >
                Register an Account</button>
              <button class="btn btn-link">Forgot Password?</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            
<div class="card card-register">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
  
        <div class="form-group">
          <label for="email1">Email address</label>
          <input class="form-control" id="registerInputEmail1" name="email" ngModel type="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" id="registerInputPassword1" name="password" ngModel type="password" placeholder="Password">
        </div>
        <button  
            class="btn btn-primary btn-block"
            data-dismiss="modal"
            data-toggle="modal" 
            data-target="#loginModal" 
            type="submit"
            >
            Register</button>
      </form>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Dashboard -->
<app-dashboard></app-dashboard>


<!-- Parallax section -->
<div class="py-5 section-parallax" style="background-image: url('assets/conference/venue.jpg');">
  <div class="container my-5 bg-light p-4">
    <div class="row mx-auto">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>
<!-- Speakers -->
<div class="py-5 bg-light" id="speakers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Speakers</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-4 animate-in-left"></div>
      <div class="col-6 col-lg-4"></div>
      <div class="col-6 col-lg-4 animate-in-right"></div>
      <div class="col-6 col-lg-4 animate-in-left"></div>
      <div class="col-6 col-lg-4"></div>
      <div class="col-6 mask col-lg-4 animate-in-right">
        <a href="#">
          <img src="assets/conference/people_6.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0">
            <b>Mary Potter</b>
          </h3>
          <p class="text-muted">Front-end developer</p>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Education -->
<app-education></app-education>
<!-- Journal -->
<app-journal></app-journal>
<!-- login -->
<!-- <app-login></app-login> -->
<!-- register -->
<!-- <app-register></app-register> -->
<!-- Sponsor logos -->
<!-- Call to action -->
<div class="py-5 section-aquamarine">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-md-left text-center">
        
<div class="card card-register" id="register">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
  
        <div class="form-group">
          <label for="email1">Email address</label>
          <input class="form-control" id="registerInputEmail1" name="email" ngModel type="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" id="registerInputPassword1" name="password" ngModel type="password" placeholder="Password">
        </div>
        <button  
            class="btn btn-primary btn-block"
            type="submit" [disabled]="!f.valid"
            >
            Register</button>
      </form>
    </div>
  </div>
      </div>
      <div class="col-md-6 align-self-center animate-in-right" id="login">
        

<div class="card card-register">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form (ngSubmit)="onLogin(t)" #t="ngForm">

      <div class="form-group">
        <label for="email1">Email address</label>
        <input class="form-control" id="loginInputEmail1" name="email" ngModel type="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="loginInputPassword1" name="password" ngModel type="password" placeholder="Password">
      </div>
      <button  
          class="btn btn-primary btn-block"
          type="submit" [disabled]="!t.valid"
          >
          Login</button>
    </form>
  </div>
</div>

      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>
<!-- Footer -->
<!-- JavaScript dependencies -->