<div class="align-items-lg-center section-dark cover" style="background-image: url(&quot;assets/Melbourne-copy.jpg&quot;);">
  <div class="container" align="center" id="dashboard-container">
    <div class="row">
      <div class="col-md-12">
        <!-- Section for experiment of autocomplete -->
        <form class="example-form">
          <ngb-alert *ngIf="errorMessage" type="warning" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Type Suburb here" aria-label="" [matAutocomplete]="auto" 
            [formControl]="suburbCtrl" 
            (keyUp.enter)="getWeatherData($event)"
            (click)="suburbCtrl.reset()"
              style="font-size: 1em;text-transform: uppercase;">
            <span matPrefix>
              <i class="fas fa-search"></i>
            </span>
            <span matSuffix>
              <i class="material-icons">keyboard_return</i>
            </span>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let suburb of filteredSuburbs | async" [value]="suburb.vicSuburb" >
                <span (click)="getWeatherDataByClick(suburb.vicSuburb)">{{ suburb.vicSuburb }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <br />
        </form>
        <!-- End of section for experiment of autocomplete -->
        <!-- <input class="form-control" type="search" placeholder="search suburb" (keyUp.enter)="getWeatherData($event)" /> -->
      </div>
      <div class="col-md-12">
        <h3 class="display-3" style="margin-top: 0.5em;" *ngIf="currentLocation">{{currentLocation}}</h3>
        <h1 style="background-color: rgba(rgb(38, 105, 44) rgb(31, 59, 31), rgb(43, 43, 71), .8);">Asthma Risk Level:{{riskLevelText}}</h1>
        <!-- <h2>test: {{loginedUser}}</h2> -->
        <!-- test for Out EventEmitter -->
        <!-- <div>
          <button (click)="testBtnClicked()" class="btn btn-default">
            test button
          </button>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-white mt-3">
        <a pageScroll href="#forecast">
          <div class="card">
            <div class="card-body shadowed h-25">
              <h4>
                <i class="fas fa-exclamation-triangle"></i> Asthma Risk</h4>
              <h2 class="text-white" matTooltip="Risk level is calculated by integration of temperature, rainfall, and pollen" 
              matTooltipPosition="left" >
                <b>
                  <span [style.color]="riskLevelTextColor">{{riskLevelText}}</span>
                </b>
              </h2>
              <p class="text-justify">Life-saving Tip: {{tip}}</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 text-white mt-3">
        <a pageScroll href="#forecast">
          <div class="card">

            <div class="card-body shadowed h-25">
              <h4>
                <i class="fas fa-thermometer-three-quarters"></i> Weather
              </h4>
              <h6 class="text-left">Temperature:
                <span *ngIf="currentData">{{currentData.temp_c}} °C</span>
              </h6>

              <h6 class="text-left">Wind:
                <span *ngIf="currentData">{{currentData.wind_mph}}m/h</span>
                <span *ngIf="currentData">
                  <b>{{currentData.wind_dir}}</b>
                </span>
              </h6>

              <h6 class="text-left">Humidity:
                <span *ngIf="currentData">{{currentData.humidity}}%</span>
              </h6>
              <h6 class="text-left">Condition:
                <span *ngIf="currentData">{{currentData.condition.text}}</span>
              </h6>
            </div>

          </div>
        </a>
      </div>

      <div class="col-lg-3 text-white mt-3">
        <a pageScroll href="#forecast">
          <div class="card ">

            <div class="card-body shadowed h-25">
              <h4>
                <i class="fas fa-braille"></i> Air Quality
              </h4>
              <h2>
                <b [style.color]="riskLevelTextColor">good</b>
              </h2>
            </div>

          </div>
        </a>
      </div>

      <div class="col-lg-3 text-white mt-3">
        <a routerLink="/pollen" href="#pollen">
          <div class="card">

            <div class="card-body shadowed h-25">
              <h4><i class="fab fa-pagelines"></i> Pollen Level
              </h4>
              <h2>
                <b [style.color]="riskLevelTextColor">low</b>
              </h2>
              <p class="text-justify">Pollen counting season is over. We will begin counting pollen again 1st of October.</p>
            </div>

          </div>
        </a>
      </div>

    </div>
    <!-- style="position: absolute; bottom: 3.5%;" -->
    <div class="row mx-auto" style="padding-top: 10%; padding-bottom: 0%;">
      <div class="col-md-12">
        <a pageScroll href="#forecast">
          <img id="dashboard-nav" class="img-fluid" src="../../assets/navigation.png">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Forecast Chart section -->
<app-forecast-chart [currentLocation]="currentLocation" ></app-forecast-chart>
