/* .card{
  background: rgba(79,112,206, .8)
} */
.card :hover {
    opacity: 1;
    transform: scale(1.05);
}


.example-form.ex  {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  #dashboard-nav {
    opacity: .5;
  }

  #dashboard-nav:hover{
    filter:invert(100%);
    transform: scale(1.1);
    opacity: 1;
  }

  @media screen and (min-width: 900px) {
    #dashboard-container{
      padding-top: 5%; 
    padding-bottom: 2%;
    }
  }

  @media screen and (max-width: 900px) {
    #dashboard-container{
      padding-top: 10%; 
    padding-bottom: 2%;
    }
  }