<div class="d-flex align-items-center py-5 section-aquamarine cover" style="background-image: url(&quot;assets/conference/cover.jpg&quot;);">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <!-- Section for experiment of autocomplete -->
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="suburbs" aria-label="Suburb" [matAutocomplete]="auto" [formControl]="suburbCtrl" (keyUp.enter)="getWeatherData($event)"
              style="font-size: 3em;">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let suburb of filteredSuburbs | async" [value]="suburb.vicSuburb">
                <span>{{ suburb.vicSuburb }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <br />
        </form>
        <!-- End of section for experiment of autocomplete -->
        <!-- <input class="form-control" type="search" placeholder="search suburb" (keyUp.enter)="getWeatherData($event)" /> -->
      </div>

      <div class="col-md-12">
        <h3 class="display-3" style="margin-top: 0.5em;" *ngIf="locationData">{{locationData.name}}</h3>
        <h1 class="text-left">Asthma Risk Level:{{riskLevelText}}</h1>
        <h2>test: {{loginedUser}}</h2>
        <!-- test for Out EventEmitter -->
        <div>
          <button (click)="testBtnClicked()" class="btn btn-default">
            test button
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-white mt-3">
        <div class="card">
          <div class="card-body bg-secondary shadowed h-25">
            <h4>Asthma Risk</h4>
            <h2 class="text-white text-left">
              <b>
                <span>{{riskLevelText}}</span>
              </b>
            </h2>
            <p class="text-justify">Life-saving Tip: {{tip}}</p>
            <!-- <button 
                    type="button" 
                    class="btn btn-default" 
                    placement="bottom" 
                    ngbPopover= {{tip}}
                    popoverTitle="Popover on bottom">
              Tip
            </button> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-white mt-3">
        <div class="card bg-light ">
          <div class="card-body bg-secondary shadowed h-25">
            <h4>Weather</h4>
            <h6 class="text-white text-left">Temperature:
              <span *ngIf="currentData">{{currentData.temp_c}} °C</span>
            </h6>

            <h6 class="text-white text-left">Wind:
              <span *ngIf="currentData">{{currentData.wind_mph}}m/h</span>
              <span *ngIf="currentData">
                <b>{{currentData.wind_dir}}</b>
              </span>
            </h6>

            <h6 class="text-white text-left">Humidity:
              <span *ngIf="currentData">{{currentData.humidity}}%</span>
            </h6>

            <h6 class="text-white text-left">Condition:
              <span *ngIf="currentData">{{currentData.condition.text}}</span>
            </h6>


          </div>
        </div>
      </div>
      <div class="col-lg-3 text-white mt-3">
        <div class="card ">
          <div class="card-body bg-secondary shadowed h-25">
            <h4>Air Quality</h4>
            <h2 class="text-white">Good</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-white mt-3">
        <div class="card">
          <div class="card-body bg-secondary shadowed h-25">
            <h4>Pollen Level</h4>
            <h2 class="text-white">Low</h2>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
