/* .card{
  background: rgba(79,112,206, .8)
} */
.card :hover {
    opacity: 1;
    transform: scale(1.05);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
  word-wrap: break-word;
  background-color: rgba(235, 235, 235, 0.85);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; 
  opacity: .9 !important;
  text-decoration: none;
}


.example-form.ex  {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.example-full-width input:hover{
  cursor: pointer;
}
  #dashboard-nav {
    opacity: .7;
    filter:invert(80%);
  }

  #dashboard-nav:hover{
    filter:invert(100%);
    transform: scale(1.1);
    opacity: 1;
  }
a:hover, a:visited, a{
  text-decoration: none;
}
  @media screen and (min-width: 900px) {
    #dashboard-container{
    padding-top: 10%; 
    padding-bottom: 2%;
    }
  }

  @media screen and (max-width: 900px) {
    #dashboard-container{
    padding-top: 18%; 
    padding-bottom: 2%;
    }
  }